<html>
	<head>
		<title>Testing</title>
	</head>
	<body>
		<div id="cbox">
			<input type="checkbox" class="cbx" name="vehicle1" value="Bike"> bike<br>
			<input type="checkbox" class="cbx" name="vehicle2" value="Car"> car<br>
			<input type="checkbox" class="cbx" name="vehicle3" value="Boat"> boat<br>
			<input type="checkbox" class="cbx" name="vehicle1" value="Top"> top<br>
			<input type="checkbox" class="cbx" name="vehicle2" value="Salt"> salt<br>
			<input type="checkbox" class="cbx" name="vehicle3" value="shirt"> shirt<br>
		</div>
	</body>
	<script src="ajax/lodash.js"></script>
	<script src="ajax/test.js"></script>
</html>